@font-face {
  font-family: "Montserrat, sans-serif";
  local: "Montserrat";
  src: url("/assets/fonts/montserrat/Montserrat-Regular.woff"), format("woff"), url("/assets/fonts/montserrat/Montserrat-Regular.woff2"), format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat, sans-serif";
  local: "Montserrat";
  src: url("/assets/fonts/montserrat/Montserrat-ExtraBold.woff"), format("woff"), url("/assets/fonts/montserrat/Montserrat-ExtraBold.woff2"), format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
